.snake-game
{
    text-align:center;
    font-size:large ;
}

.snake-controls
{
    width:820px;
    margin-left:auto;
    margin-right:auto;
    margin-top: 10px;
}

.snake-instructions
{
    margin-bottom: 10px;
}